/Sem1-PSUC/Lab-09/L9Q1/nbproject/private/
/Sem1-PSUC/Lab-09/L9Q1/build/
/Sem1-PSUC/Lab-09/L9Q2/nbproject/private/
/Sem1-PSUC/Lab-09/L9Q2/build/
/Sem1-PSUC/Lab-09/L9Q3/nbproject/private/
/Sem1-PSUC/Lab-09/L9Q3/build/
/Sem1-PSUC/Lab-09/L9Q4/nbproject/private/
/Sem1-PSUC/Lab-09/L9Q4/build/
/Sem1-PSUC/Lab-08/L8Q1/nbproject/private/
/Sem1-PSUC/Lab-08/L8Q1/build/
/Sem1-PSUC/Lab-08/L8Q2/nbproject/private/
/Sem1-PSUC/Lab-08/L8Q2/build/
/Sem1-PSUC/Lab-08/L8Q3/nbproject/private/
/Sem1-PSUC/Lab-08/L8Q3/build/
/Sem1-PSUC/Lab-08/L8Q4/nbproject/private/
/Sem1-PSUC/Lab-08/L8Q4/build/
/Sem1-PSUC/Lab-08/L8Q5/nbproject/private/
/Sem1-PSUC/Lab-08/L8Q5/build/
/Sem1-PSUC/Lab-08/L8Q6/nbproject/private/
/Sem1-PSUC/Lab-08/L8Q6/build/
/Sem1-PSUC/Lab-07/L7Q1/nbproject/private/
